<%- include('../layouts/header.ejs') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <section class="content-main" id="addProductsPage">
        <div class="row">
            <div class="col-md-9">
                <div class="content-header">
                    <h2 class="content-title">Add New Product</h2>
                    
                    
                </div>
                           
            </div>
            <form id="productForm" enctype="multipart/form-data" class="row">
                <div class="col-lg-6 data-table">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Basic</h4>
                            <% if (typeof messages !== 'undefined' && messages.error && messages.error.length > 0) { %>
                                <div class="alert alert-danger" role="alert">
                                    <% messages.error.forEach(function(error) { %>
                                        <p><%= error %></p>
                                    <% }); %>
                                </div>
                            <% } %>
                            <% if (typeof messages !== 'undefined' && messages.success) { %>
                                <div class="alert alert-success" role="alert">
                                    <%= messages.success %>
                                </div>
                            <% } %>
                        </div>
                        
                        <div class="card-body">
                            <div class="mb-4">
                                <label for="productName" class="form-label">Product title</label>
                                <input type="text" placeholder="Product name" class="form-control" id="productName" name="productName" required/>
                                <p hidden style="color: red;">hi</p>
                            </div>
                            <div class="mb-4">
                                <label class="form-label" for="productDesc">Full description</label>
                                <textarea placeholder="Type here" class="form-control" rows="4" id="productDesc" name="productDesc" required></textarea>
                                <p hidden style="color: red;"></p>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productPrice">Brand</label>
                                        <div class="row gx-2">
                                            <input placeholder="Brand Name" type="text" class="form-control" id="productBrand" 
                                            name="productBrand"  required/>
                                            <p hidden style="color: red;"></p>
                                        </div>
                                    </div>
                                </div>
                            
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productPrice">Price</label>
                                        <div class="row gx-2">
                                            <input placeholder="&#8377;" type="number" class="form-control" id="productPrice" 
                                            name="productPrice"  required/>
                                        </div>
                                        <p hidden style="color: red;"></p>
                                    </div>
                                </div>
                            
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productQty">Quantity</label>
                                        <input placeholder="Quantity" type="number" class="form-control" id="productQty"
                                            name="productQty" required/>
                                    </div>
                                </div>
                              
                                <div class="col-lg-4">
                                    <div class="mb-4">
                                        <label class="form-label" for="productCat">Category</label>
                                        <select class="form-select" name="productCat" id="productCat" required>
                                            <% categories.forEach((cat)=>{ %>
                                            <option><%= cat.name %></option>
                                            <% }) %>
                                        </select>   
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div>
                                        <label class="form-label">Choose upto 4 pictures</label>
                                        <input class="form-control" accept="image/jpeg, image/png, image/webp" id="image-input" type="file" multiple name="productImages" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    document.addEventListener('DOMContentLoaded',function(){
                        const productName = document.getElementById('productName');
                        const productDesc = document.getElementById('productDesc');
                        const productBrand = document.getElementById('productBrand');
                        const productPrice = document.getElementById('productPrice');
                        const englishLetters = /^[A-Za-z\s]+$/;
                        const descRegex = /^[a-zA-Z0-9\s!@#$%^&*()-_=+[\]{}|;:'",.<>?/]+$/;
                        productName.addEventListener('change',function(event){
                            
                            if(productName.value.trim().length < 3 || !englishLetters.test(productName.value)){
                                productName.nextElementSibling.hidden = false;
                                productName.nextElementSibling.textContent = 'Name should be only Enlgish letters and must contain more than 3 letters'
                            }else{
                                productName.nextElementSibling.hidden = true;
                            }
                        })

                        productDesc.addEventListener('change',function(event){
                            
                            if(productDesc.value.trim().length < 8 || !descRegex.test(productDesc.value)){
                                productDesc.nextElementSibling.hidden = false;
                                productDesc.nextElementSibling.textContent = 'Description must be more than 8 letters'
                            }else{
                                productDesc.nextElementSibling.hidden = true;
                            }
                        })

                        productBrand.addEventListener('change',function(event){
                            
                            if(productBrand.value.trim().length < 1 ){
                                productBrand.nextElementSibling.hidden = false;
                                productBrand.nextElementSibling.textContent = 'Brand Name should contain some value'
                            }else{
                                productBrand.nextElementSibling.hidden = true;
                            }
                        })

                    })
                </script>
                <div class="col-lg-6 cropped-image">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Preview cropped images</h4>
                        </div>
                        <div >
                            <!-- dynamic rendering by script -->
                            <div  id="cropped-images" class="row"></div>
                        </div>
                        <div class="card-body col-lg-6">
                            <button type="button" id="submitForm" class="btn btn-md rounded font-sm hover-up" disabled> Save Product</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 image-preview">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Edit images</h4>
                        </div>
                        <div>
                            <!-- dynamic rendering by script -->
                            <div id="image-preview" class="row"></div>
                        </div>
                        <!--  hidden input field for the cropped images -->
                        <div class="card-body col-lg-6">
                            <button type="button" id="crop-button" class="btn btn-md rounded font-sm hover-up" disabled> Crop Images</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    
    <script src="node_modules/cropperjs/dist/cropper.min.js"></script>

            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="statSheet/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="statSheet/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="statSheet/js/vendors/select2.min.js"></script>
        <script src="statSheet/js/vendors/perfect-scrollbar.js"></script>
        <script src="statSheet/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="statSheet/js/main.js?v=1.1" type="text/javascript"></script>
        <!-- Add the following script at the end of your HTML body or in a separate JavaScript file -->
            
        <script>
            document.addEventListener("DOMContentLoaded", async () => {

  
let addProducts = document.getElementById('addProductsPage')
if(addProducts){
  let inputImage = document.getElementById("image-input");
  let previewImageContainer = document.getElementById("image-preview");
  let cropButton = document.getElementById("crop-button");
  let croppers = [];
  let croppedDataArray = [];
  let croppedImagesContainer = document.getElementById("cropped-images");
  let submitForm = document.getElementById("submitForm");
  let productName = document.getElementById("productName");
  let productDesc = document.getElementById("productDesc");
  let productPrice = document.getElementById("productPrice");
  let productQty = document.getElementById("productQty");
  let productBrand = document.getElementById('productBrand');


  croppedImagesContainer.innerHTML= ''

  inputImage.addEventListener("change", (event) => {
    console.log('file selected')
    const files = event.target.files;
    if(files.length>4){
        inputImage.value = ''
        return alert("You can only select upto 4 images")
    }

    if (files.length > 0) {
      let divCount = previewImageContainer.querySelectorAll('.view-image').length;
     
      if(files.length + croppers.length >4){
        previewImageContainer.innerHTML = "";
        croppers.length = 0;
      }
      
      

      for (let file of files) {
        let reader = new FileReader();

        reader.onload = (readEvent) => {
          let image = new Image();
          image.src = readEvent.target.result;

          let preview = document.createElement("div");
          preview.classList.add("view-image", "col-md-6");
          preview.appendChild(image);

          previewImageContainer.appendChild(preview);

          cropButton.disabled = false;

          const imageWidth = 3600;
          const imageHeight = 2600;

          // Calculate aspect ratio
         const aspectRatio = imageWidth / imageHeight;

        // Create Cropper instance with dynamically calculated aspect ratio
        let cropper = new Cropper(image, {
        aspectRatio: aspectRatio,
        viewMode: 2 // Set your desired view mode
        });


          croppers.push(cropper);
        };

        reader.readAsDataURL(file);
      }
    }
  });

  cropButton.addEventListener("click", async () => {
    croppedImagesContainer.innerHTML=''
    submitForm.disabled = false;
    croppedDataArray = [];
    for (let cropper of croppers) {
      let croppedCanvas = cropper.getCroppedCanvas();

      let blobPromise = new Promise((resolve) => {
        croppedCanvas.toBlob((blob) => {
          resolve(blob);
        });
      });
      let blob = await blobPromise;

      croppedDataArray.push(blob);
      displayCroppedImage(croppedImagesContainer, blob);
    }
    console.log(croppedDataArray);

    inputImage.value = "";
  });

  function displayCroppedImage(targetDiv, blob) {
    console.log("display crop image");
    let img = document.createElement("img");
    img.src = URL.createObjectURL(blob);

    let previewCroppedImage = document.createElement("div");
    previewCroppedImage.classList.add("col-lg-6");
    previewCroppedImage.appendChild(img);

    targetDiv.appendChild(previewCroppedImage);
  }

  submitForm.addEventListener("click", async (ev) => {
    let form = document.getElementById("productForm");
    ev.preventDefault();
    let formData = new FormData();
    formData.append("productName", document.getElementById("productName").value);
    formData.append("productDesc", document.getElementById("productDesc").value);
    formData.append("productPrice", document.getElementById("productPrice").value);
    formData.append("productQty", document.getElementById("productQty").value);
    formData.append("productCat", document.getElementById("productCat").value);
    formData.append("productBrand", document.getElementById("productBrand").value);

    // Check if any required fields are empty
    if (!productName.value || !productDesc.value || !productPrice.value || !productQty.value || !productBrand.value || !productCat.value) {
        alert('Please fill in all fields');
        return; 
    }

    for (let i = 0; i < croppedDataArray.length; i++) {
        formData.append(`productImages`, croppedDataArray[i], `croppedImage_${i}.png`);
    }

    console.log(formData);
    fetch("/admin/addProduct", {
        method: "POST",
        body: formData,
    })
    .then((response) => {
        // Check if the response is a redirect
        if (response.redirected) {
            // Manually redirect to the specified location
            window.location.href = response.url;
        }
    })
    .catch((error) => console.log(error));
});

  productPrice.addEventListener('input',()=>{
    console.log('enter num')
    let value = productPrice.value;
    value = value.replace(/^0+/, '');

    if (value.includes("-")) {
        value = value.replace('-', '');
    }
    productPrice.value = value;

  })
  
  productQty.addEventListener('input',()=>{
    
    let value = productQty.value;
    value = value.replace(/^0+/, '');

    if (value.includes("-")) {
        value = value.replace('-', '');3
    }
    productQty.value = value;

  })
}else{
  console.log("Not in add products")
}
});
        </script>

    </body>
</html>
