<%- include("./profileHeader.ejs") %>
    
<div class="container light-style flex-grow-1 container-p-y">
    <h4 class="font-weight-bold py-3 mb-4 " style="margin-top: 110px;">
        MY PROFILE
    </h4>
  
    <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
            <div class="list-group list-group-flush account-settings-links">
                <a class="list-group-item list-group-item-action active" href="/userProfile">PROFILE</a>
                <a class="list-group-item list-group-item-action" href="/editUserProfile">EDIT PROFILE</a>
                <a class="list-group-item list-group-item-action" href="/changePassword">CHANGE PASSWORD</a>
                <a class="list-group-item list-group-item-action" href="/orderDetails">ORDER</a>
                <a class="list-group-item list-group-item-action" href="/addressManage">MANAGE ADDRESS</a>
                <a class="list-group-item list-group-item-action" href="#"></a>
                <a class="list-group-item list-group-item-action" href="#"></a>
            </div>
        </div>

        <div class="col-md-9 pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <form id="passwordChangeForm" action="/changePassword" method="POST">
                            <label for="currentPassword">Current Password</label>
                            <div class="form-group pass_show"> 
                                <input type="password" id="currentPassword" name="currentPassword" class="form-control" placeholder="Current Password"> 
                            </div> 
                            <label for="newPassword">New Password</label>
                            <div class="form-group pass_show"> 
                                <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="New Password"> 
                            </div> 
                            <label for="confirmPassword">Confirm Password</label>
                            <div class="form-group pass_show"> 
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password"> 
                            </div> 
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </form>  
                    </div>
                </div>
            </div>
        </div>
        



<script>
    $(document).ready(function(){
$('.pass_show').append('<span class="ptxt">Show</span>');  
});
  

$(document).on('click','.pass_show .ptxt', function(){ 

$(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

$(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

});  
</script>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"></script>
<!-- jquery plugins here-->
<script src="/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="/js/swiper.min.js"></script>
<!-- swiper js -->
<script src="/js/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="/js/slick.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<!-- custom js -->
<script src="/js/custom.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#passwordChangeForm').submit(function(event) {
            event.preventDefault();
            
            const currentPassword = $('#currentPassword').val();
            const newPassword = $('#newPassword').val();
            const confirmPassword = $('#confirmPassword').val();

            $.ajax({
                url: '/changePassword',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ currentPassword, newPassword, confirmPassword }),
                success: function(data) {
                    alert(data.message);
                    // Redirect to home page
                    window.location.href = '/'; // Change the URL to your home page
                },
                error: function(xhr, status, error) {
                    const errorMessage = JSON.parse(xhr.responseText).error;
                    alert(errorMessage); // Error message
                }
            });
        });
    });
</script>

</body>
</html>